<ul id="nav-list">
    <li><a href="#home" onclick="toggleNavbar()">Home</a></li>
    <li><a href="#projects-section" onclick="toggleNavbar()">Projects</a></li>
    <li><a href="#resume-section" onclick="toggleNavbar()">Resume</a></li>
    <li><a href="#about-section" onclick="toggleNavbar()">About</a></li>
    <li><a href="#contact-section" onclick="toggleNavbar()">Contact</a></li>
</ul>
<a href="javascript:void(0);" id="toggle-menu" onclick="toggleNavbar()">
    <img id="menu-icon" src="../assets/images/icons/menu-white.svg" alt="Navigation bar" />
</a>