<ul id="nav-list">
    <li><a href="#home" onclick="toggleNavbar()">Home</a></li>
    <li><a href="#projects-section" onclick="toggleNavbar()">Projects</a></li>
    <li><a href="#resume-section" onclick="toggleNavbar()">Resume</a></li>
    <li><a href="#about-section" onclick="toggleNavbar()">About</a></li>
    <li><a href="#contact-section" onclick="toggleNavbar()">Contact</a></li>
</ul>
<a href="javascript:void(0);" id="toggle-menu" onclick="toggleNavbar()">
    <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 20 20"><path fill="white" d="M16.4 9H3.6c-.552 0-.6.447-.6 1s.048 1 .6 1h12.8c.552 0 .6-.447.6-1s-.048-1-.6-1m0 4H3.6c-.552 0-.6.447-.6 1s.048 1 .6 1h12.8c.552 0 .6-.447.6-1s-.048-1-.6-1M3.6 7h12.8c.552 0 .6-.447.6-1s-.048-1-.6-1H3.6c-.552 0-.6.447-.6 1s.048 1 .6 1"/></svg>
</a>