body {
    margin: 0;
    box-sizing: border-box;
}

html {
    color: var(--color1b);
    font-family: "Lato", sans-serif;
    scroll-behavior: smooth;
}

html a {
    color: var(--color1b);
    text-decoration: none;
  }
  
html a:visited {
  color: var(--color1b);
}

html a:hover {
  color: var(--color1b);
}

/* Unordered lists */
ul {
  list-style-type: none;
  display: flex;
}