body {
    margin: 0;
}

html {
    color: var(--color1b);
    font-family: "Lato", sans-serif;
}

html a {
    color: var(--color1b);
    text-decoration: none;
  }
  
  html a:visited {
    color: var(--color1b);
  }
  
  html a:hover {
    color: var(--color1b);
  }
  
  /* Unordered lists */
  ul {
    list-style-type: none;
    display: flex;
  }