body {
    margin: 0;
    box-sizing: border-box;
}

html {
    color: var(--color-text);
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}

h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
}

html a {
    color: var(--color-secondary);
    text-decoration: none;
  }
  
html a:visited {
  color: var(--color-secondary);
}

html a:hover {
  color: var(--color-secondary);
}

/* Unordered lists */
ul {
  list-style-type: none;
  display: flex;
}