:root {
  --white: #ecf5f5; 
  --color1: #DEE7E7;
  --color1-deg1: #CFD8DA;
  --color1-deg2: #C0C8CD;
  --color1-deg3: #B2B9C0;
  
  --color1c: #d2dbdb;
  --color2: #E6E6E6;
  --color3: #FF8552;
  --color4: #297373;
  --color5: #85FFC7;

  --color1b: #000022;
  --color2b: rgb(0, 94, 124);
  --color3b: #70A0AF;
  --color4b: #7EBCDD;
  --color5b: #F4E8C1;

  --icon-width: 5em;
  --icon-height: 5em;

  --debug: #eb22af;

  --height-nabvar: 60px;
}

/* DEBUGGING */
/* * {
  border: solid 1px var(--debug);
} */

/* GENERAL HTML STYLING */
body {
  background-color: var(--color1);
}

.main-content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* NAVIGATION BAR */
#navbar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 30px;
  padding: 20px;

  background-color: var(--color1b);

  min-width: 40%;
  max-width: 500px;
  height: 40px;
  
  border-radius: 2.5rem;
}

.nav-list {
  margin: 0 0;
  padding: 0 10px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-list li {
  font-size: 1.5rem;
  display: inline-flex;
  flex-wrap: wrap;
  flex: 1;
  text-align: center;
  justify-content: center;
}

.nav-list li a {
  color: var(--color1);
}

.section {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.scroll-down {
  position: absolute;
  bottom: 100px;
}

.scroll-down a img {
  height: 4rem;
  transition: 0.3s;
}

.scroll-down a img:hover {
  height: 4.5rem;
}

#home-section {
  justify-content: center;
  align-items: center;
}

.welcome {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -100px;
  gap: 2rem;
}

.greeting {
  font-weight: 1000;
  font-size: 4rem;
  text-align: left;
  color: var(--color1b);
  margin-bottom: 0;
}

.greeting-subtitle {
  font-size: 2.5rem;
  font-family: "Inconsolata", monospace;
  margin-top: 0;
  color: var(--color3b);
  position: relative;
}

.greeting-subtitle::before {
  content: "<";
  color: var(--color1b);
  margin-right: 10px;
}

.greeting-subtitle::after {
  content: "/>";
  color: var(--color1b);
  margin-left: 10px;
}

#greeting-name {
  position: relative;
}

#greeting-name::after {
  content: "";
  position: absolute;
  left: -1%;
  bottom: 0px;
  width: 102%;
  height: 2rem;
  background-color: rgba(0, 94, 124, 0.3);
  z-index: -1;
}

#photo {
  object-fit: cover;
  width: 200px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: solid 10px var(--color2b);
}


/* Greeting section */

#about-section {
  justify-content: top;
  background-color: var(--color1-deg1);
}

/* Projects section */

#projects-section {
  background-color: var(--color1);
  margin-bottom: 200px;
}

.section-intro {
  padding-bottom: 40px; 
}

.section-intro p {
  margin: 0;
  text-align: center;
  font-size: 3rem;
}

.projects {
  padding-left: 0;
  justify-content: center;
  align-items: center;
  gap: 5%;
  margin: 0 auto;
  width: 90%;
}

.project-tile {
  margin: 20px 0;
  display: grid;
  justify-content: center;
  grid-template-columns: 0.4fr 0.6fr;
  grid-gap: 5em;
  background-color: var(--white);
  padding: 50px;
  border-radius: 25px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1), -5px -5px 5px rgba(0, 0, 0, 0.1);
}

.project-image {
  display: flex;
  justify-content: center;
}

.project-image img {
  aspect-ratio: 16 / 9;
  width: 100%;
  max-width: 750px;
}

.project-tile a {
  font-size: 1.2rem;
  margin-bottom: 7px;
  color: var(--color2);
}

.project-title {
  font-size: 3rem;
  margin-top: 0;
}

.project-description {
  font-size: 1.5rem;
  width: 80%;
}

.project-skills {
  padding-left: 0;
  padding-top: 20px;
  gap: 1rem;

}

.skill {
  padding: 10px;
  border: solid 1px var(--color1-deg3);
  border-radius: 5px;
  color: var(--color4);
  font-weight: 700;
  font-size: 1.2rem;
}

.section-outro {
  font-size: 2rem;
  font-weight: 800;
  margin-top: 50px;
}

/* Contact section */

#contact-section {
  background-color: var(--color1-deg1);
  justify-content: center;
}

#contact-section h1{
  position: absolute;
  top: 0px;
}

.contact-links {
  padding-left: 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5%;
  margin: 0 auto;
  width: 90%;
}

.contact-link {
  background-color: var(--white);
  position: relative;
  padding: 15px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1), -5px -5px 5px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
}

.contact-link:hover {
  background-color: var(--color1-deg3);
}


/* ICONS */
.contact-icon {
  display: inline-block;
  width: var(--icon-width);
  height: var(--icon-height);
  color: var(--color1b);
}

.link-icon {
  width: 2rem;
  height: 2rem;
  color: var(--color1b);
  margin-left: 1rem;
  margin-bottom: -1px;
}


#scroll-to-top-button {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--color1b); /* Set a background color */
  color: var(--color1); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 20px; /* Some padding */
  border-radius: 100px; /* Rounded corners */
  font-size: 1rem; /* Increase font size */
  transition: background-color 0.2s ease-out;
}

#scroll-to-top-button:hover {
  background-color: var(--color2b);
  color: var(--color1b); /* Add a dark-grey background on hover */
}

#scroll-to-top-button img {
  width: 2.5rem;
  height: 2.5rem;
  
}


/* || MEDIA QUERIES */

/* MEDIUM devices (tablets) */
@media only screen and (max-width: 1024px) {
  
}

/* SMALL devices (phones) */
@media only screen and (max-width: 768px) {
  .nav-list li {
    font-size: 1.2rem;
  }

  .welcome {
    display: block;
    margin-top: 0;
  }

  .greeting {
    font-size: 2rem;
    text-align: center;
  }

  .greeting-subtitle {
    margin-top: 50px;
    text-align: center;
    font-size: 1.8rem;
  }
  #photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .scroll-down {
    bottom: 50px;
  }
}


